__pycache__/
*.py[cod]
*.pyo

.venv/
env/
venv/

.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store

*.log
*.tmp
*.bak

.streamlit/config.toml
.streamlit/secrets.toml

.env
*.env

dist/
build/
*.egg-info/

.DS_Store
Thumbs.db

*.code-workspace
*.__pycache__/